*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background: #fff3a3;
  /* background: #264bff; */
  color: #264bff;;
}

ul {
  list-style-type: none;
  margin:0;
  padding:0;
}

/* MAIN STYLES */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 20vh repeat(7, auto);
  /* margin: 0 5vw; */
  grid-gap: 8px;
  justify-content: space-around;
  /* margin: 0; */
}

/*  HEADER STYLES */

.header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  margin: 0;
  grid-column: 1 / -1;
  /* background: lightyellow; */

}

.header a {
  color: #264bff;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
  align-self: baseline;
  padding: 1em;
  text-decoration: none;
}

.header-img {
  padding: 1em;
  margin-left: 2em;
  width: 150px;
}

/* .header img:hover,
.header img:active {
  background-color: #264bff;
  border-radius: 40px;
} */

.nav-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: space-around;
  text-decoration: none;
}

.nav-group a:hover,
.nav-group a:active {
  color: #fe019a;
}

/* PRODUCT STYLES */

.product-description {
  
  padding: 0 3em 0 0;
  grid-column: 3 /  span 2;
  
}

.product-description p {
  color: #264bff;
  font-size: 1em;
  line-height: 1.2em;
  border-bottom: solid 1px #264bff;
  padding-bottom: .8em;;
}

.product-description h1 {
  color: #fe019a;
  font-size: 2.5em;
  font-weight: 700;
  /* text-transform: uppercase; */
}


.img-container {
  height: 80vh;
  /* background-color: #f7e2ee; */
  display: flex;
  grid-column: 1 /  span 2;
  justify-content: center;
  align-content: center;
  /* border: 2px solid none;
  border-radius: 20px; */



}
.product-image {
  height: 70vh;
  align-self:center;
  box-shadow: 0px 1px 18px 5px rgba(0,0,0,0.15);

}

.product-sale {
  color: #264bff;
}

.comprar,
.assinar {
  background-color: #fe019a;
  border-radius: 20px;
  box-shadow: 1px 1px 8px 0px rgba(105, 101, 101, 0.41);
  color: #fff3a3;
  border-color:transparent;
  font-family: inherit;
  font-size: 1.2em;
  font-weight: 700;
  border:0;
  padding: .8em .8em .6em;
  text-transform: uppercase;
  width: 200px;
  margin-top: 1em;
}



.features {
  grid-column: 1 / -1;
  width: 100vw;
  padding: 8em 10em 0;
}

.features-text{
  text-align: center;
  grid-column: 1 / -1;
  font-size: 1.6em;
  color:#264bff;
  padding-bottom: 4em;
}

/* VIDEO SECTION */

.video-description {
  grid-column: 1 / span 2;
  padding: 0 5em;
}

.video {
  font-size: 1em;
  padding: 10px 0 40px;
  grid-column: 3 /  span 2;
  margin-top: 3em;

}

.video-description h1 {
  font-size: 5em;
  color:#fe019a;

}
.video-description p {
  font-size: 1em;
  margin-top: -40px;
  color: #264bff;

}

/* CONTACT SECTION */

.divider {
  grid-column: 1 / -1;
  width: 100vw;
  padding: 5em;
}

.contact {
  grid-column: 1 / 3;
  font-size: 2.5em;
  font-weight: 700;
  padding: 0 2em;
  border-right: solid 1px #264bff;
  
}

.form {
  grid-column: 3 / 5;
  font-size: 2em;
  font-weight: 700;
  color:#fe019a;
  padding: 1em 2em;
}

input {
  border-color: #264bff;
  width: 100%;
  padding: .7em;
  margin: 2em 0 0;
  background: transparent;
  color: #264bff;
  font-family: inherit;
  font-weight: 400;
  font-size: .5em;
}
::placeholder {
  color: #264bff;
}
.force-opaque::placeholder {
  opacity: 1;
}

.assinar {
  border: none;
  border-color: transparent;
  font-size: 16px;
  margin-top: 2em;
}
 .assinar a {
   text-decoration: none;
   color: #fff3a3
 }

 .rodape{
  grid-column: 1 / -1;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 4em 0;
 }

 .rodape img {
   width: 20vw;
 }

@media (max-width: 800px) {

  .header {
    display: flex;
    flex-direction: column;
  }

  .header-img {
    width: 30vw;
    margin: 2em;
    
  }
  .nav-group {
    border-top: solid 1px #264bff;
    border-bottom: solid 1px #264bff;
    padding: .6em 0 .4em;
    font-size: 1.3em;
    margin-bottom: 2em;;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2em 0 2em;
    margin: 2em;
    width: 80vw;
  }

  .img-container {
    width: 70vw;
  }

  .product-description p,
  .video-description p{
    font-size: 1.5em;
  }
  .product-description h1 {
    font-size: 3em;
  }

  .features {
    width: 90vw;
    padding: 6em 0 2em;
  }
  .features-text {
    font-size: 2.5em;
    padding: 0;
  }

  .video-description {
    padding: 0 3em 0 3em;
  }

  .video-description h1 {
    font-size: 4em;
  }
  .video {
    padding-top: -10em;
  }

  .divider {
    padding: 3em 0;
  }

 
  .contact {
    border-bottom: solid 1px #264bff;
    border-right: none;
    font-size: 2em;
  }

  .form {

    padding: 2em 0;

  }

  .rodape {
    margin: 1em 0 2em;
  }

  .rodape img {
    width: 40vw;
  }

  


}